@{
  Layout = "_Layout";
}
@using SweetAndSavoryTreats.Models;
@using System.Collections.Generic;
@model SweetAndSavoryTreats.Models.Flavor;

<h1>@Model.Name</h1>

@if (Model.FlavorTreats.Count == 0)
{
  <p>No treats with this flavor have been added yet.</p>
}
else
{
  <h3>Treats</h3>
}
<ul>
  @foreach (FlavorTreat flavorTreat in Model.FlavorTreats)
  {
    Treat treat = flavorTreat.Treat;
    <li>@Html.ActionLink(treat.Name, "Details", "Treats", new { id = treat.TreatId })</li>
  }
</ul>
<br>
<p>
@if (User.Identity.IsAuthenticated)
{
  @Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })<br>
  @Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })<br>
}
@Html.ActionLink("View Flavors", "Index")<br>
@Html.ActionLink("Return to Home", "Index", "Home")
</p>